*.pbxproj binary merge=union
.exe filter=lfs diff=lfs merge=lfs -text
.exec filter=lfs diff=lfs merge=lfs -text
NMapsMap.framework filter=lfs diff=lfs merge=lfs -text
NMapsMap/* filter=lfs diff=lfs merge=lfs -text
NMapsMap.framework/* filter=lfs diff=lfs merge=lfs -text
NMapsMap filter=lfs diff=lfs merge=lfs -text
